<div class="main-container">
  <div class="right-container">
    <hr class="top-hr" />
    <div class="title-text-container">
      <h2>
        <div class="science-letter">
          Science
        </div>
        <div class="science-letter light-color-letters">
          & the Big Question
        </div>
      </h2>
    </div>
    <form class="search-form">
      <input id="search-bar" type="text" name="" value="">
      <i class="ion-search search-icon"></i>
    </form>
    <% seed.forEach( oneSeed => { %>
      <p>
      <%=oneSeed.company%>
      </p>
    <%});%>

  </div> <!-- Right container -->
  <div class="left-container">

  </div>
</div>
