<div class="main-container">
  <div class="right-container">
    <hr class="top-hr" />
    <div class="title-text-container">
      <div class="social-container">
        <p>
          <br />
         <a href="https://github.com/aromanarguello">Github</a>
        </p>
      </div>
      <h2>
        <div class="science-letter">
          Alejandro
        </div>
        <div class="science-letter light-color-letters">
          Roman A.
        </div>
      </h2>
    </div>
  <hr class="top-hr" />
  <div class="about-container">
    <div class="about-text">
      <h2 class="aboutme">About me:</h2>
      <p>
        Currently, I am a student at Ironhack’s web development bootcamp based in Miami, FL.
        My background is in Healthcare operations. I have a strong
        passion for technology and web development. Not only has this passion driven my decision
        to join Ironhack, but has also influenced me to pursue my main interest in further joining
        the healthcare industry and technology together.
        <br />
        <br />
        Specialties: JavaScript, Node.js, Angular 2, MongoDB, Express, HTML, CSS, Ruby.
        <br />
        <br />
        Miami, Fl.
        <br />
        <br />
        <i class="ion-iphone"></i> (305)-298-5676
      </p>
    </div>
  </div>
  </div> <!-- Right container -->

  <div class="left-container">
    <hr class="top-hr" />
    <ul class="nav-links">
      <li class="home-link"><a href="/"> Home </a></li>
      <li> About </li>
      <li> Contact </li>
      <li> A-Z Index </li>
    </ul>
    <div id='form-parent'>
      <div class="left-form-container">
      <div class="left-form-float">
        <form id="schedule-input" method="post" action="/">
          <label class="label-text" for="firstNameInput">First Name:</label>
          <br />
          <input id="firstNameInput" type="text" name="firstName" placeholder="e.g. John">
          <br />
          <label class="label-text" for="lastNameInput">Last Name:</label>
          <br />
          <input id="lastNameInput" type="text" name="lastName" placeholder="e.g. Smith">
          <br />
          <label class="label-text" for="emailInput">Email:</label>
          <br />
          <input id="emailInput" type="email" name="email" placeholder="e.g. johnsmith@gmail.com">
          <br />
          <label class="label-text message-label" for="messageInput">Write your message:</label>
          <br />
          <textarea maxLength="140" id="messageInput" type="text" name="message" placeholder="Please write a short message here. Then schedule a time that works for you."></textarea>
          <br />
          <button class="submit-btn">Submit</button>
        </form>
      </div>
    </div>
        <div class="blockquote-container">
          <blockquote>
          <em>"Always deliver more than expected"</em>
          <p><em>-Larry Page</em></p>
        </div> <!-- left-form-container -->

        </blockquote>
        <!-- Calendly link widget begin -->
          <div class="calendly-container">
            <!-- Calendly link widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            <a href="" class="calendly" onclick="Calendly.showPopupWidget('https://calendly.com/aromanarguello');return false;">Schedule</a>
            <!-- Calendly link widget end -->
        </div>
        <!-- Calendly badge widget end -->
        </div>
    <br />
    <% portafolio.forEach( fromPortafolio => { %>
      <div class="post-container">
        <div class="header-container">
          <h1> <%=fromPortafolio.name %></h1>
        </div>
        <div class="link-container">
          <a href="<%=fromPortafolio.url%>"> Take a look </a>
        </div>
          <div class="content-container">
          <img class="screenshot" src="<%= fromPortafolio.img %>" alt=""/>
          </div>
          <div class="post-text-container">
            <p>
            <%=fromPortafolio.description %>
            </p>
          </div>
    </div>
    <%})%>
</div> <!-- Left container -->


<!-- Calendly badge widget begin -->
