<div class="main-container">
  <div class="right-container">
    <hr class="top-hr" />
    <div class="title-text-container">
      <h2>
        <div class="science-letter">
          Alejandro's
        </div>
        <div class="science-letter light-color-letters">
          & Inspired Assistant
        </div>
      </h2>
    </div>
    <form class="search-form">
      <input id="search-bar" type="text" name="" placeholder="Search">
      <i class="ion-search search-icon"></i>
    </form>

  </div> <!-- Right container -->

  <div class="left-container">
    <hr class="top-hr" />
    <ul class="nav-links">
      <li class="home-link"><a href="/"> Home </a></li>
      <li> About </li>
      <li> Contact </li>
      <li> A-Z Index </li>
    </ul>
    <div class="left-myview-container">
      <p>
        This week so far you have:
      </p>
    </div>

    <hr class="top-hr" />
    <div class="post-container">
      <div class="header-container">
      </div><!-- post-container -->
        <div class="content-container">
        </div> <!-- content-container -->
  </div> <!-- post-container -->
</div> <!-- Left container -->
