/*----------------
background light green: #E3F0F4;
greying light blue: #C4E0ED; //  rgb(196,224,237)
letters light blue: #6CB1F0; // rgb(108,177,240)
navy blue: #0A2037;
pete river (submit btn): #3498db;

----------------*/

body {
  font: 14px "Platform-Medium", Arial, Helvetica, Verdana, sans-serif;
  background-color: #0A2037;
}

a {
  color: #00B7FF;
}

.main-container {
  width: 100%;
  height: 1000px;
  overflow: auto;
}

.right-container,
.left-container {
  margin: 0;
  width: 49.8%;
  height: 120%;
}

.right-container {
  float: left;
}

.left-container {
  float: right;
  background-color: #E3F0F4;
}

.top-hr {
  margin-top: 40px;
  width: 90%;
  height: 10px;
  background-color: rgba(196,224,237,0.6);
  border: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
  border-top: 0;

}

#search-bar {
  width: 85%;
  height: 50px;
  background-color: transparent;
  font-size: 40px;
  color: #6CB1F0;
  border: 0;
  border-bottom: 5px solid #6CB1F0;
}

.search-icon {
  color: rgba(196,224,237,0.7);
  font-size: 40px;
  position: relative;
  right: 35px;
}

.title-text-container {
  width: 500px;
  height: 250px;
  margin: 10px 0 0 34px;
  display: inline-block;
  line-height: 85px;
}

.science-letter {
  color: #6CB1F0;
  font-size: 100px;
  font-weight: bold;
}

.light-color-letters {
  color: rgba(196,224,237,0.8);
}

.data-list-container {
  width: 280px;
  height: auto;
  margin: 25px 0 0 10px;
}

.data-list-right {
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  float: right;
  height: 100%;
}

.data-list-left {
  float: left;
}
.data-list-parent {
  overflow: auto;
  display: inline-block;
}

.data-list-container:link,
.data-list-container:visited,
.data-list-container li,
.data-list-container a,
.nav-links li {
  color: #00B7FF;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  margin: 0;
}

.nav-links {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 10px 40px 0 0;
}

#form-parent {
  display: inline-block;
  width: 100%;

}

/*.left-form-float {
  width: 100%;
}*/

.nav-links li {
  margin-left: 15px;
  font-size: 14px;
  font-weight: bold;
}

.left-form-container {
  width: 300px;
  height: 200px;
  margin: 15px 0 0 40px;
  text-align: center;
  display: inline-block;
}

.label-text {
  font-size: 11px;
  font-weight: bold;
  color: rgb(108,177,240);
}

#firstNameInput,
#lastNameInput,
#emailInput {
  border: 0;
  border-bottom: 2px solid rgba(127, 140, 141,0.4);
  background-color: transparent;
  color: rgb(127,140,141);
  margin: 0 0 10px 0;
  font-size: 10px;
  width: 80%;
}

#messageInput {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgb(196,224,237);
  border-radius: 5px;
  border: 0;
  margin-top: 4px;
  margin-bottom: 1px;
  color: rgb(127,140,141);
}


#schedule-input button {
  width: 120px;
  height: 20px;
  color: rgba(196,224,237,0.8);
  background-color: #3498db;
}

.submit-btn:active,
.submit-btn:hover {
  background-color: #fff;
}

.blockquote-container {
  width: 300px;
  height: 100px;
  margin: 0 0 0 0px;
  font-size: 17px;
  font-weight: bold;
  color: #6CB1F0;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 50px 30px 0 20px;
}

blockquote p {
  margin-left: 80px;
}
